<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="card-form">
        <h2>New Membership</h2>

        <%= simple_form_for @membership, url: lab_memberships_path do |f| %>
        <%= f.input :email, autofocus: true %>
        <%= f.button :submit, class: "btn btn-yellow-inverted button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
