// Define variables for your color scheme

// For example:
$red: #5C0E18;
$blue: #14213D;
$yellow: #FCA311;
$orange: #E67E22;
$green: #4DA3A3;
$gray: #3F4045;
$light-gray: #E5E5E5;
$white: #F4F4F4;
$black: #0A0A0A;
