// Define variables for your color scheme

// For example:
$red: #92140C;
$blue: #14213D;
$yellow: #FCA311;
$orange: #E67E22;
$green: #4CA362;
$dark-gray: #2A2A2A;
$gray: #3F3F3F;
$light-gray: #E5E5E5;
$white: #FCFCFC;
$black: #020202;
