// Specific CSS for your home-page
.home-wrapper-padded {
  padding: 100px 0;
  h4 {
    font-size: 35px;
  }
  p {
    line-height: 35px;
    font-size: 20px;
  }
}

// CSS IDs for below the banner
#home-info-title {
  font-size: 46px;
  color: $dark-gray;
}
#home-info-sub-header {
  color: $blue;
}
#home-info-left {
  text-align: left;
}
#home-info-right {
  text-align: right;
}

// CSS Classestext-specific
.em-yellow {
  color: $yellow;
}
.image-box-shadow {
  box-shadow: 0px 0px 60px rgba(1,1,1,0.2);
}
