<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 text-center">
        <h2>Company</h2>
        <div class="footer-links"><a href="#">About</a></div>
        <div class="footer-links"><a href="#">Team</a></div>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <h2>Contact</h2>
        <div class="footer-links"><a href="mailto:admin@journal-link.com" target="_blank"><span class="fa fa-mail"></span>admin@journal-link.com</a></div>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <h2>Credit</h2>
        <div class="footer-links"><a href="https://www.ncbi.nlm.nih.gov/">NCBI Database PubMed</a></div>
      </div>
      <div class="col-xs-12 padded">
        <div class="text-center">Made with <i class="fa fa-heart"></i> in AMS</div>
      </div>
    </div>
  </div>
</div>
