<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div>
          <a href="#">About</a>
        </div>
        <div>
          <a href="#">Team</a>
        </div>
        <div>
          Contact us <a href="mailto:admin@journal-link.com" target="_blank"><span class="fa fa-mail"></span>admin@journal-link.com</a>
        </div>
        <div class="footer-copyright">
          Credit to <a href="https://www.ncbi.nlm.nih.gov/">NCBI Database PubMed</a>
        </div>
        <div class="footer-copyright">
          Made with <i class="fa fa-heart"></i> in AMS
        </div>
      </div>
    </div>
  </div>
</div>
