<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="card-form">
        <h2>New Post</h2>

        <%= simple_form_for ([@lab, @paper, @post]) do |f| %>
        <%= f.input :content, autofocus: true %>
        <%= f.button :submit, class: "btn btn-yellow-inverted button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

