.button {
  border-radius: 5px;
}

.button-xl {
  padding: 34px 62px;
  border-radius: 5px;
  font-size: 50px;
}

.btn-transparent {
  font-size: 23px;
  margin: 20px 0;
  padding: 18px 35px;
  color: $white;
  background-color: transparent;
  border-radius: 300px;
  border: 2px solid $white;
  box-shadow: none;
  &:hover{
    color: $yellow;
    background-color: $white;
    transition: all 0.30s ease ;
  }
}

.btn-yellow {
  margin: 20px 0;
  padding: 18px 35px;
  color: $yellow;
  background-color: transparent;
  border-radius: 300px;
  border: 2px solid $yellow;
  box-shadow: none;
  &:hover{
    color: $white;
    background-color: $yellow;
    transition: all 0.30s ease ;
  }
}
