// forms
.card-form {
  margin: 100px 0;
  background-color: $light-gray;
  padding: 50px;
  box-shadow: 5px 5px 2px rgba(63, 64, 69, 0.3);
  input, textarea {
    border-radius: 5px;
  }
  .button {
    margin-bottom: 20px;
  }
  abbr {
    display: none;
  }
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  a:hover {
    text-decoration: none;
    color: $yellow;
  }
}
#new-post-form {
  abbr {
    display: none;
  }
}

// products
.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: $black;
  position: relative;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: $black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.card-paper {
  height: 300px;
  color: $black;
}

