.product {
  display: flex;
  align-items: center;
  padding: 50px 0;
  transition: all 0.15s ease;
  background-color: white;
  padding: 40px;
  margin: 20px 0px;
  border: 1px solid #d4d4d4;
  box-shadow: 2px 2px 8px rgba(1,1,1,0.2);
  li.emphasis {
    color: #a9a1a1;
  }
  ul {
    width: 100%;
  }
  .date {
    font-style: italic;
    width: 100%;
  }
}

.product-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  transition: all 0.15s ease;
  background-color: white;
  padding: 40px;
  margin: 20px 0px;
  border: 1px solid #d4d4d4;
  box-shadow: 2px 2px 8px rgba(1,1,1,0.2);
}
#profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .product-image {
    margin-right: 0;
  }
  .button {
    width: 100%;
  }
}

#lab-info {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product.product-small {
  height: 220px;
}

.product-last {
  display: flex;
  align-items: center;
  padding: 50px 0;
  transition: all 0.15s ease;
}
.product-top {
  padding-bottom: 50px;
}

.product-top a {
  color: $red;
  font-weight: 600;
  padding: 5px;
  border-radius: 2px;
}

/* Body design */
.product-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.product-body h3 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 0;
  color: $gray;
}
.product-body p {
  font-weight: lighter;
  color: $gray;
  margin-bottom: 10;
  font-weight: 500;
  font-size: 15px;
}
.product-body a {
  text-decoration: none;
  padding: 5px 30px;
  background-color: $blue;
  color: $white;
  font-weight: 600;
  border-radius: 2px;
  margin-top: 5px;
  text-align: center;
}
.product-body.red {
  a {
    background-color: $red;
  }
}
.product-body.deny{
  a{
    width: 119px;
  }
}
.product-body-paper-link {
  color: $blue;
  font-weight: 600;
  font-size: 15px;
}

/* Product image */
.product-image {
  border-radius: 5px;
  margin-right: 20px;
  min-width: 150px;
  width: 150px;
}

/* Upvote design */
.product-upvote {
  padding-right: 20px;
  text-align: center;
  transition: all 0.15s ease;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
}
.product-count {
  margin: 2px 0 0;
}
.product-arrow {
  transition: all 0.15s ease;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 9px solid $black;
  border-radius: 2px;
  margin: auto;
}

/* Controls design */
.product-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}
.product-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: $white;
}
.product-controls a:hover {
  color: $blue !important
}
.product-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}

/* Hover effects */
.product:hover {
  background: $white;
  cursor: auto;
}
.product-upvote:hover, .product-upvote.product-upvote-upvoted {
  color: $blue;
  cursor: pointer;
}
.product-upvote-upvoted .product-arrow {
  border-bottom-color: $blue;
}
// .product:hover .product-upvote {
//   transform: scale(1.2)
// }
.product:hover .product-controls-hidden a {
  color: $white;
}
.product-upvote:hover .product-arrow {
  border-bottom: 9px solid $blue;
}
