#search-keywords {
  input {
    width: 50%;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
  }
}

#add-keyword {
  margin-bottom: 25px;
  display: block;
  text-decoration: underline;
}

.keyword-title {
  margin-bottom: 0;
  margin-top: 26px;
}
